# ls
alias ls='ls -F --color=auto'
alias l='ls -Flh --color=auto'
alias ll='ls -Flha --color=auto'

# grep
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# emacs
alias emc='emacsclient -c -n -a='' '


# interactive
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# verbose
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'

# git
alias gs='git status --short'
alias gS='git status'
alias gd='git diff'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --all --decorate --oneline --graph'
alias gL='git log -p'
alias gt='git ls-tree -r "$(git rev-parse --abbrev-ref HEAD)" --name-only'

# tmux
alias t='tmux'
alias ta='tmux attach'

# less
alias less='less --raw-control-chars'

# diff
alias diff='git diff --no-index'

# custom
alias anki='ANKI_NOHIGHDPI=1 anki'
